<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search by city name" name="city" [(ngModel)]="cityName"/>
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/hotweather.jpg" *ngIf="weatherData.currentConditions.temp>15"/>
    <img src="../assets/coldweather.jpg" *ngIf="weatherData.currentConditions.temp<=15"/>

    <div class="weather-data">
      <div class="location">{{weatherData.address}}</div>
      <div class="temperature">{{weatherData.currentConditions.temp | number: '1.0-0'}}&deg;C</div>
    </div>
  </div>
  
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../assets/min.png"/> -->
          <span>Minimum:</span>
        </div>
        <div class="info-block-value">
          {{weatherData.days[0].tempmin | number: '1.0-0'}}&deg;C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../assets/"/> -->
          <span>Maximum:</span>
        </div>
        <div class="info-block-value">
          {{weatherData.days[0].tempmax | number: '1.0-0'}}&deg;C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../assets/"/> -->
          <span>Humidity:</span>
        </div>
        <div class="info-block-value">
          {{weatherData.currentConditions.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../assets/"/> -->
          <span>Wind Speed:</span>
        </div>
        <div class="info-block-value">
          {{weatherData.currentConditions.windspeed}} km/h
        </div>
      </div>

    </div>
  </div>

</div>


<router-outlet></router-outlet>
